@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --base-50: oklch(0.9842 0.0032 228.71);
  --base-100: oklch(0.9682 0.0064 229.74);
  --base-200: oklch(0.9213 0.0126 230.32);
  --base-300: oklch(0.869 0.019 231.62);
  --base-400: oklch(0.7047 0.0227 234.18);
  --base-500: oklch(0.554 0.0246 234.94);
  --base-600: oklch(0.4459 0.0239 235);
  --base-700: oklch(0.3723 0.0221 234.88);
  --base-800: oklch(0.2779 0.0189 236.17);
  --base-900: oklch(0.209 0.0176 237.67);
  --base-950: oklch(0.1311 0.0164 238.31);
  --base-1000: oklch(0.0807 0.0151 238.65);

  --primary-50: oklch(0.9785 0.0093 231.94);
  --primary-100: oklch(0.9521 0.0193 232.19);
  --primary-200: oklch(0.9035 0.041 230.66);
  --primary-300: oklch(0.815 0.0757 230.32);
  --primary-400: oklch(0.7527 0.1062 232.98);
  --primary-500: oklch(0.6898 0.1101 233.96);
  --primary-600: oklch(0.5915 0.1022 236.73);
  --primary-700: oklch(0.5033 0.0865 237.61);
  --primary-800: oklch(0.4444 0.0709 238.67);
  --primary-900: oklch(0.3924 0.0581 239.91);
  --primary-950: oklch(0.2947 0.0431 240.34);
  --primary-1000: oklch(0.231 0.033 241.68);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--base-200);
  --secondary-foreground: var(--base-950);
  --muted: var(--base-200);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-300);
}

.dark {
  --background: rgb(28, 33, 37);
  --foreground: rgb(164, 194, 201);
  --card: rgb(34, 41, 45);
  --card-foreground: rgb(164, 194, 201);
  --popover: rgb(34, 41, 45);
  --popover-foreground: rgb(164, 194, 201);
  --primary: rgb(110, 162, 173);
  --primary-foreground: rgb(28, 33, 37);
  --secondary: rgb(45, 58, 64);
  --secondary-foreground: rgb(164, 194, 201);
  --muted: rgb(38, 51, 57);
  --muted-foreground: rgb(122, 155, 165);
  --accent: rgb(45, 58, 64);
  --accent-foreground: rgb(164, 194, 201);
  --destructive: rgb(227, 102, 102);
  --destructive-foreground: rgb(232, 238, 240);
  --border: rgb(45, 58, 64);
  --input: rgb(45, 58, 64);
  --ring: rgb(110, 162, 173);
  --chart-1: rgb(110, 162, 173);
  --chart-2: rgb(90, 140, 150);
  --chart-3: rgb(73, 119, 128);
  --chart-4: rgb(58, 100, 108);
  --chart-5: rgb(47, 80, 86);
  --sidebar: rgb(28, 33, 37);
  --sidebar-foreground: rgb(164, 194, 201);
  --sidebar-primary: rgb(110, 162, 173);
  --sidebar-primary-foreground: rgb(28, 33, 37);
  --sidebar-accent: rgb(45, 58, 64);
  --sidebar-accent-foreground: rgb(164, 194, 201);
  --sidebar-border: rgb(45, 58, 64);
  --sidebar-ring: rgb(110, 162, 173);
  --radius: 0.375rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(200 20% 40% / 0.2);
  --shadow-2xs: 2px 2px 4px 1px hsl(200 20% 40% / 0.10);
  --shadow-xs: 2px 2px 4px 1px hsl(200 20% 40% / 0.10);
  --shadow-sm: 2px 2px 4px 1px hsl(200 20% 40% / 0.20), 2px 1px 2px 0px hsl(200 20% 40% / 0.20);
  --shadow: 2px 2px 4px 1px hsl(200 20% 40% / 0.20), 2px 1px 2px 0px hsl(200 20% 40% / 0.20);
  --shadow-md: 2px 2px 4px 1px hsl(200 20% 40% / 0.20), 2px 2px 4px 0px hsl(200 20% 40% / 0.20);
  --shadow-lg: 2px 2px 4px 1px hsl(200 20% 40% / 0.20), 2px 4px 6px 0px hsl(200 20% 40% / 0.20);
  --shadow-xl: 2px 2px 4px 1px hsl(200 20% 40% / 0.20), 2px 8px 10px 0px hsl(200 20% 40% / 0.20);
  --shadow-2xl: 2px 2px 4px 1px hsl(200 20% 40% / 0.50);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}